@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-position: left top;
}
h1{color:white;margin-top:20px;}
h2{color:white;margin-top:20px;margin-left:80px;}
h3{color:white;margin-top:20px;margin-left:100px;}
img{margin-right:150px;margin-top:0; }
p{color:white;font-family:Calibri;margin-left:150px;}
a{color:white;font-family:Calibri;margin-left:150px;}
ul{color:white;margin-left:120px;}
.programmer{margin:20px;margin-left:250px;}